.DS_Store
*.log
~$*
.~*
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.ps
*.synctex.gz
.Rhistory
node_modules/
tex/*.pdf
tex/*.xml
tex/*.bcf
/F
.RData
/data/
